/* ---------------------------------
Background
--------------------------------- */

body{
	font-family: sans-serif;
}

aside{
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
 }


/* ---------------------------------
Buttons
--------------------------------- */
.centerButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
button{
    background-color: darkgray;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: wheat;
}
/* ---------------------------------
Images
--------------------------------- */
.selectedImage{
    border: 2px solid blueviolet;
    box-shadow:0px 12px 22px 1px #333;
    
 }

 .detailImg{
     max-width: 200px;
     max-height: 200px;
     cursor: pointer;
 }

/* ---------------------------------
Childern
--------------------------------- */
.blockChildren *{
    margin: auto;
    display: block;
}