/* ---------------------------------
Buttons
--------------------------------- */
.centerButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* ---------------------------------
Images
--------------------------------- */