/* ---------------------------------
Hintergrund
--------------------------------- */


body{
	background-image: 
	repeating-linear-gradient(45deg, white 0%, white 0.125%, beige 0.125%,beige 0.25%, white 0.25%);
	font-family: sans-serif;
}


/* ---------------------------------
navigation
--------------------------------- */

#navbar{
	overflow: hidden;
	background-color: black;
	position: fixed;
	top: 0;
	width: 50%;
	
	
}



.navcolor{
	float: left;
	display: block;
	color: white;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	padding: 14px 16px;
	text-decoration: none;
}

#navbar .navcolor:hover{
	background: #ddd;
	color: black;
}

/* ---------------------------------
Footer
--------------------------------- */
footer {
	background: black;
	padding: 10px;
	margin-top:20px;
	text-align: center;
	color: white;
}
.footerlogo{
	width: 4.5%;
	background-color: black;
}