/* ---------------------------------
Hintergrund
--------------------------------- */


body{
	background-image: url(images/hintergrund.png);
	font-family: sans-serif;
	width: 800px;
	
}


/* ---------------------------------
navigation
--------------------------------- */
.navbar{
	height: 50px;
	overflow: hidden;
	position: sticky;
	top: 0;
	
}


nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
	
}
nav{
	float: right;
	margin: 0;
	background-color:black ;
	border-radius: 20px;
	position: relative;
	
	

}

nav li{
	display: inline;
	padding: 15px;
	
}


nav a{
	
	display: inline-block;
	color: white;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	padding: 14px 16px;
	text-decoration: none;
	
	
}

nav a:hover{
	background: #ddd;
	color: black;
	border-radius: 20px;
}



#home #nav1,
#thatsme #nav2,
#contact #nav3{
	color: antiquewhite;
	background-color:rosybrown ;
	border-radius: 20px;
}


/* ---------------------------------
contact
--------------------------------- */
form{
	margin: 1em 0 1em 0;
	position: relative;
	
}



form input{
	padding: .5em;
	background: #666;
	
}

form textarea{
	padding: .5em;
	font-family: sans-serif;
	background: #666;
	
}
/* ---------------------------------
Footer
--------------------------------- */
footer {
	background: black;
	padding: 10px;
	margin-top:20px;
	text-align: center;
	color: white;
}
.footerlogo{
	width: 4.5%;
	background-color: black;
}